.fondo{
    display: flex;
    height:800px;
    width: 100%;
    background-image: url("/assets/img/fondoderecha3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;  
}

.h4{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-left: 350px;
    position: absolute;
    
  }
