<div class="fondo prueba">
    <h4 class="h4">Reservas:</h4>
    
    <app-form-post (newForm)= "setForm($event)"></app-form-post>

    <app-post *ngFor= 'let reserva of array; let i=index' [responseFormPost]='array[i]'></app-post>

    <app-gallery></app-gallery>
</div>

