<div class="footer">
    <h3 class="tittle-form">Contacto:</h3>

<!-- formGroup es el nombre de nuestro formFroup del .ts -->


<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="contact">
  
    <!--  primer campo name -->


	<fieldset class="form__border">
    <label  for="name">Nombre:</label>
    <input  type="text" id="name" formControlName="name" />
		<!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
    <div *ngIf="!contact.get('name').valid &&
        (contact.get('name').dirty || submitted)">
      <p class="red">Has introducido mal tu nombre</p>
    </div>
  </fieldset>

  <!-- segundo campo email-->

  <fieldset class="form__border">
      <label for="email">email:</label>
      <input type="text" id="email" formControlName="email"/>

      <div *ngIf="!contact.get('email').valid &&
        (contact.get('email').dirty || submitted)">
      <p class="red">Has introducido mal el email</p>
    </div>
  </fieldset>

  <!--tercer campo comentario-->

  <fieldset class="form__border">
      <label for="coment">Comentario:</label>
      <input type="text" id="coment" formControlName="coment"/>

      <div *ngIf="!contact.get('coment').valid &&
        (contact.get('coment').dirty || submitted)">
      <p class="red">Has sobrepasado los 20 caracteres</p>
    </div>
<div>
    <button class="button" type="submit" [disabled]="!contact.valid">Enviar</button>
</div>



