.footer{
    background-image: url("/assets/img/header.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
    background-color: #e9e7e6;
    
 
}

.tittle-form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(12, 11, 11);
    margin-left: 515px;
}

.form{
    color: rgb(19, 16, 16);
    margin-left: 500px;
    border: none;
}

.form__border{
    border:none;
}

.button{
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(45, 163, 241);
}

.red{
    color: red;
}