<header class="b-header ">
    <div class="b-header__box-header ">
        <h1>Burguers</h1>
        <img class="img-logo" src="{{logo}}" alt="{{logoAlt}}">
        
        <nav class="">
            <ul class="b-nav__ul">
                <a class="a" href="https://es.restaurantguru.com/Oskar-Burguer-Mostoles"><li class="icon-twitter icon1"></li></a>
                <a class="a" href="https://es.restaurantguru.com/Oskar-Burguer-Mostoles"><li class="icon-instagram icon2"></li></a>
                <a class="a" href="https://es.restaurantguru.com/Oskar-Burguer-Mostoles"><li class="icon-facebook2 icon2"></li></a>
                <li class="icon-phone icon2"> |{{phone}}</li>
            </ul>
        </nav>
    </div>
</header>
