

    <p class="new-registro1">{{this.responseFormPost.name}}
    <p class="new-registro2">{{this.responseFormPost.apellidos}}
    <p class="new-registro3">{{this.responseFormPost.personas}}
    <p class="new-registro4">{{this.responseFormPost.email}}
    <p class="new-registro5">{{this.responseFormPost.phone}}</p>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--<table>
        <thead>
            <tr class="table-color ">
                <th>Nombre</th>
                <th class="table-color__separado">apellidos</th>
                <th class="table-color__separado">personas</th>
                <th class="table-color__separado">email</th>
                <th class="table-color__separado">phone</th>
                
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{this.responseFormPost.name}}</td>
                <td>{{this.responseFormPost.apellidos}}</td>
                <td>{{this.responseFormPost.personas}}</td>
                <td>{{this.responseFormPost.email}}</td>
                <td>{{this.responseFormPost.phone}}</td>
            </tr>
        </tbody>
    </table> 
-->

   
      
      
    
                    
                    
                    

