
  .new-registro1{
    position: absolute;
    margin-left: 65px;
    margin-top: 60px;
    color: white;
    font-weight: bold;
  }
  .new-registro2{
    position: absolute;
    margin-left: 65px;
    margin-top: 90px;
    color: white;
    font-weight: bold;
  }

  .new-registro3{
    position: absolute;
    margin-left: 65px;
    margin-top: 120px;
    color: white;
    font-weight: bold;
  }

  .new-registro4{
    position: absolute;
    margin-left: 65px;
    margin-top: 150px;
    color: white;
    font-weight: bold;
  }

  .new-registro5{
    position: absolute;
    margin-left: 65px;
    margin-top: 180px;
    color: white;
    font-weight: bold;
  }
 