@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?onpm51');
  src:  url('fonts/icomoon.eot?onpm51#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?onpm51') format('truetype'),
    url('fonts/icomoon.woff?onpm51') format('woff'),
    url('fonts/icomoon.svg?onpm51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
