<h2 class="tittle-form">Formulario Reserva de mesa:</h2>
<!-- formGroup es el nombre de nuestro formFroup del .ts -->
<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="formpost">
  
    <!--  primer campo name -->


	<fieldset class="form__border">
    <label  for="name">Nombre:</label>
    <input  type="text" id="name" formControlName="name" />
		<!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
    <div *ngIf="!formpost.get('name').valid &&
        (formpost.get('name').dirty || submitted)">
      <p class="red">Has introducido mal tu nombre</p>
    </div>
  </fieldset>

  <!-- segundo campo apellido-->

  <fieldset class="form__border">
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" formControlName="apellidos"/>

      <div *ngIf="!formpost.get('apellidos').valid &&
        (formpost.get('apellidos').dirty || submitted)">
      <p class="red">Has introducido mal los apellidos</p>
    </div>
  </fieldset>

  <!--tercer campo de numero de personas-->

  <fieldset class="form__border">
      <label for="personas">Nº Personas:</label>
      <input type="number" id="personas" formControlName="personas"/>

      <div *ngIf="!formpost.get('personas').valid &&
        (formpost.get('personas').dirty || submitted)">
      <p class="red">Es oblgatorio indicar el número de personas</p>
    </div>

  </fieldset>

  <!--Cuarto campo de email-->

  <fieldset class="form__border">
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email"/>

      <div *ngIf="!formpost.get('email').valid &&
      (formpost.get('email').dirty || submitted)">
    <p class="red">Has introducido mal el email</p>
    </div>
  </fieldset>

  <!--Quinto campo phone-->

  <fieldset class="form__border">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" formControlName="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"/>

      <div *ngIf="!formpost.get('phone').valid &&
      (formpost.get('phone').dirty || submitted)">
    <p class="red">Has introducido mal el número de teléfono</p>
    </div>
  </fieldset>
	
	<!-- Botón deshabilitado hasta que el formulario sea valid -->
  <button class="button" type="submit" [disabled]="!formpost.valid">Enviar</button>

</form>
