.tittle-form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 50px;
}

.form{
    color: white;
    margin-left: 50px;
    border: none;
}

.form__border{
    border:none;
}

.button{
    color: black;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(45, 163, 241);
}

.red{
    color: red;
}