

<div class="container">

<img class="gallery" src="{{this.Photo1.img}}" alt="{{this.Photo1.imgAlt}}">
<img class="gallery" src="{{this.Photo2.img}}" alt="{{this.Photo2.imgAlt}}">
<img  class="gallery" src="{{this.Photo3.img}}" alt="{{this.Photo3.imgAlt}}">

</div>

<div class="container">

<div class="container">
<img  class="gallery2" src="{{this.Photo4.img}}" alt="{{this.Photo4.imgAlt}}">
<img class="gallery2" src="{{this.Photo5.img}}" alt="{{this.Photo5.imgAlt}}">
<img class="gallery2" src="{{this.Photo6.img}}" alt="{{this.Photo6.imgAlt}}">

</div>

