
.container{
    display: inline-block;
    margin-right: 200px;
}
.gallery{
    margin-right: 60px;
    margin-top: 400px;
    width: 160px;
    height: 160px;
}

.gallery2{
    width: 160px;
    height: 160px;
    margin-right: 60px;
    margin-top: 50px;
}
